body {
	margin:0px;
	padding:0px;
	font-family: 'Open Sans',sans-serif;
	background: skyblue;
	background-size: 100%;

}

.wrapper {
 width: 1100px;
 margin:auto;
 position: relative;
}

.logo {
	font-size: 50px;
	font-weight: bold;
	float: left;
	font-family: courier; 
	color: #364f6b;
}

.logo1 {
	font-size: 50px;
	font-weight: bold;
	float: left;
	font-family: courier; 
	color: #fefefe;
}

.menu {
	float: right;

}

nav {
	background-color:#7b8fa1;
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position:-webkit-sticky;
	top: 0;
	background:#FFF;
	z-index: 1;
	border-bottom: 1px solid #364f6b;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}
nav ul li a {
	color: #000;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

a.signup {
	background:#3f72af;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;

}


a.signup:hover {
	background: red;
	text-decoration: none;
}


.menu ul li .dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    background: rgb(255, 255, 255);
    position: absolute;
    padding: 10px;
}
.menu ul li:hover .dropdown li{
    display: block;
}

