* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
body {
	margin:0px;
	padding:0px;
	font-family: 'Open Sans',sans-serif;
	background: skyblue;
}
.wrapper {
	width: 1100px;
	margin:LEFT;
	position: relative;
   }

.logo {
	   font-size: 50px;
	   font-weight: bold;
	   float: left;
	   font-family: courier; 
	   color: #000000;
   }
   .menu {
	   float: right;

   }
   nav {
	background-color:#7b8fa1;
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position:-webkit-sticky;
	top: 0;
	background:#FFF;
	z-index: 1;
	border-bottom: 1px solid #a10c74;
}
.logo1{
	font-size: 20px;
	font-family: fantasy;
	color: rgb(145, 72, 72);
	background-color: rgb(240, 187, 154);
	text-align: center;
	}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}
nav ul li a {
	color: #000;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

section {
	margin-top: 50px;
	display: flex;
	margin-bottom: 50px;
}
.explanation {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;


}

.explanation .deskripsi {
	font-size: 20px;
	font-weight:bold;
	font-family: 'comic sans ms';
	color: #ffffff;
	margin-bottom: 10px;


}

h2 {
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 45px;
	margin-bottom: 20px;
	color: #e8e8e8;
	width: 100%;
	line-height: 50px;
}
a.signup {
	background:#3f72af;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}
a.signup:hover{
	background: red;
	text-decoration: none;
}
.tengah {
	text-align: center;
	width: 100%;
}

.teamlist {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;

}
.card{
	width: 20%;
	margin: auto;

}

.card img {
	width: 80%;
	border-radius: 50%;
}
.card p {
	font-family: 'comic sans ms';
	font-weight:800;
	font-size: 25px;
   text-align: center;
	color: #ffffff;
	width: 60PX;
   
}
